name: ESLint and Prettier Check

on: push

jobs:
  lint-check:
    name: Lint with ESLint and Prettier
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'  # or any version you prefer

    - name: Install Dependencies
      run: npm ci

    - name: Lint with ESLint
      run: npx eslint . --ext .js,.jsx,.ts,.tsx
